.shop {
  height: 100vh;
}
.shop__container {
  padding: 1.5rem 0;
}
.shop__detail__imgs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.shop__detail__imgs img {
  height: 50%;
}
.shop__detail__title {
  padding: 1.2rem 0;
  text-decoration: underline;
  font-size: xx-large;
  text-transform: uppercase;
}
.shop__detail__desc {
  padding: 1.2rem 0;
}
.shop__detail__desc h3 {
  margin: 0 0 1rem 0;
}
.shop__infos {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
.shop__infos > span {
  display: flex;
  align-items: center;
}
